.Messages {
    background-color: rgb(189, 209, 193);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-radius: 1em;
  }

.Messages .ListMessage {
    text-align: center;
    font-style: italic;
    color: rgb(226, 141, 43);
}